<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samuelraynor.app.c196_samuelraynor.feature"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

    <application>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TermListActivity"
            android:label="@string/title_activity_terms"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samuelraynor.app.c196_samuelraynor.feature.MainActivity" />
        </activity>
        <activity
            android:name=".TermEditActivity"
            android:label="@string/title_activity_term_details"
            android:parentActivityName=".TermListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samuelraynor.app.c196_samuelraynor.feature.TermListActivity" />
        </activity>
        <activity
            android:name=".TermDetailActivity"
            android:label="@string/title_activity_term_details"
            android:launchMode="singleTop"
            android:parentActivityName=".TermListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samuelraynor.app.c196_samuelraynor.feature.TermListActivity" />
        </activity>
        <activity
            android:name=".CourseDetailActivity"
            android:label="@string/title_activity_course_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".TermDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samuelraynor.app.c196_samuelraynor.feature.TermDetailActivity" />
        </activity>
        <activity
            android:name=".CourseEditActivity"
            android:label="@string/title_activity_course_edit"
            android:parentActivityName=".CourseDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samuelraynor.app.c196_samuelraynor.feature.CourseDetailActivity" />
        </activity>

        <receiver android:name=".service.Autostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.DateNotificationService"
            android:enabled="true"
            android:exported="true"></service>
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
</manifest>